/* ======================== */
*{
  font-family: 'Gulzar', serif;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  box-sizing: border-box;
  direction: rtl;
}
:root{
  --white: #fff;
  --black: #000;
  --bgreen:#318907;
  --lgreen:#90B20D;
  --light:#eff7d6;
  --lblue:#EBF7F7;
  --lblack:#726767;
  --box-shadow:box-shadow: 0px 2px 10px 5px rgba(128, 127, 127, 0.3);
  --filter: drop-shadow(0px 14.22px 5px var(--light));
}
 .bgreen{
  background: var(--bgreen);
}
.lgreen{
  background: var(--lgreen);
}
.lblack{
  color: var(--lblack);
}
.text-white{
  color: var(--white);
}
/*
.text-black{
  color: var(--black)
}
.text-bgreen{
  color: var(--bgreen)
}
.text-center{
  text-align: center;
} */
/* .container{
  display: flex;
  justify-content:center
} */
a{
  text-decoration: none;
}
li{
  list-style: none;
}
h3{
  color: var(--bgreen);
}
.mt-80{
  margin-top: 80px;
}
/* .mt-40{
  margin-top: 40px;
} */
.mb-20{
  margin-bottom: 20px;
}
/* .ml-20{
  margin-left: 20px;
}
.p-40{
  padding:40px
} */
p{
  padding: 30px;
  font-size: 17px;
  color:var(--lblack);
  text-align:center;
}
button:hover {
  box-shadow: 0px 2px 10px 5px rgba(128, 127, 127, 0.3);
}

/* navbar */
.topnav {
  overflow: hidden;
  background-color: var(--white);
  filter: var(--filter);
}
.logo-img{
  width: 50%;
}
.logo{
  height: 60px;
  width: 180px;
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
}
.topnav a {
  float: right;
  display: block;
  color: var(--black);
  text-align: center;
  padding: 30px 10px 30px 60px;
  font-size: 20px;
}
.topnav a:hover {
  color: var(--bgreen);
}
.topnav .icon {
  display: none;
}
header .nav-bar ul a.active {
  color: var(--bgreen);
}
/* Header */
 .header-info{
  height: 540px;
  text-align: center;
  width:100%;
}
.header-info h4{
  font-size: 35px;
  padding-top: 150px;
}
.header-info p{
  font-size: 19px;
}
.signin-btn{
  border: none;
  padding:3px 60px;
  border-radius: 10px;
}
.signin-btn a{
  color: var(--white);
  font-size: 16px;
} 
/* Sections */
.leaf1{
  float: left;
  margin-left:40px;
  margin-top: 20px;
} 
.intro-image{
  display: flex;
  justify-content: center;
}
.intro-img{
  position: absolute;
  z-index: 1000;
  height:400px;
}
.home-content p{
  text-align: center;
}
.home-info,
.read-info{
  /* margin-top: -19px; */
  background: var(--lblue);
} 
.home-info2{
  width: 100%;
  margin-top: 80px;
  background: var(--lblue);
}
.intro-img2{
  height:400px
}
/* .read-info2{
  width: 100%;
  background: var(--lblue);
} */
/* .read-info2 h3{
  padding-top: 150px;
} */
.read-more{
  background: var(--bgreen);
  border: none;
  width:150px;
  height: 40px;
  border-radius: 10px;
  margin-top: 20px;
}
.read-more a{
  color: var(--white);
  font-size: 16px;
}
.home-info3{
  width: 100%;
  background: var(--lblue);
}
/* Progress */
#progress{
  z-index: 1000000;
  position: fixed;
  bottom: 100px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow:  0 2px 30px rgba(128, 127, 127, 0.3);
  cursor: pointer;
}
#progress-value{
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 25px;
}
/* Footer */
.footer{
  width:100%;
  background: var(--lgreen);
  /* color: var(--white);  */
}
.social{
  display: flex;
  justify-content: center;
  margin-right: 20px;
}
.social img{
  margin-top: 10px;
}
.social a{
  margin-left: 10px;
  font-size: 17px;
  color: var(--white);
}
.footer-content div input{
  border: none;
  border-radius: 10px;
}
.footer-content div button{
  border-radius: 10px;
  border: none;
  background: var(--bgreen);
}
.footer-content div button a{
  color: var(--white);
}
.copy-right{
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
/* Small Screen an medium*/
@media screen and (max-width: 1200px) {
  .topnav ul a:not(child) {display: none;}
  .topnav a.icon {
    float: left;
    font-size: 20px;
    display: block;
    color: var(--bgreen);
  }
  .topnav ul a{
    background: var(--lgreen);
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    left:40px;
    top: 20px;
    color: var(--bgreen);
  }
  .topnav.responsive a {
    float: none;
    display: block;
    padding: 5px;
    text-align: center;
    color: var(--lblack);
  }
  .topnav.responsive .logo{
    padding: 20px 0;
  }
  /* Header */
  .header-content{
    display:block;
  }
  .header-img{
    width: 100%;
  }
  .h-img{
    height: 540px;
  }
  .header-info{
    margin-top: -20px;
  }
  /* Home*/
  .home-info{
    height: 600px;
    /* margin-top: -19px; */
  }
  .read-info{
    padding: 50px 0;
  }
  .intro-img{
    margin-top: -490px;
    width: 100%;
    height: 370px;
  }
  .h-img{
    width: 100%;
  }
  .home-content p{
    padding-top: 130px;
  }
  h3{
    padding: 30px 30px 0 0;
    }
  .leaf2{
    margin-top: -125px;
  }
  .home-info2{
    padding: 40px 0;
  }
  .home-info2 p{
    margin-top: -150px;
  }
  .read-content h3, .read-content h3{
    text-align: center;
  }
  .intro-img2{
    width: 100%;
    height:400px
  }
  /* .read-info2{
    height: 600px;
    margin-top: 80px;
  } */
  .read{
    display: flex;
    justify-content: center;
  }
  .home-info3{
    height: 100px;
    display: flex;
  }
  /* .leaf3{
    margin-top: 20px;
  } */
  /* Start footer */
  .logo2{
    width:100%;
    height: 100px;
    margin-top: 60px;
  }
  .footer-content h3{
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
  }
  .footer-list{
    display: flex;
    justify-content: center;
  }
  .footer-items{
    font-size: 15px;
  }
  .footer-items .footer-item{
    margin-left: 15px;
  }
  .footer-items a{
    color: var(--white)
  }
  .social-media{
    display: flex;
    justify-content: center;
  }
  .social{
    margin-top: 40px;
  }
  .footer-content div input{
    height: 50px;
    margin-top: 40px;
    width: 400px;
  }
  .footer-content div button{
    margin-top: 40px;
    width: 150px;
    height:45px;
  }
  /* End footer */
}

@media screen and (min-width: 1200px) {
  .header-content{
    display: flex;
    height: 540px;
  }
  .header-img{
    width: 80%;
  }
  .h-img{
    width: 120%;
    height: 540px;
  }
  .header-info{
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
  }
  /* Home */
  .home-info,
  .read-info{
    height: 640px;
    width: 100%;
    clip-path: polygon(50% 0%, 100% 0, 100% 48%, 0 100%, 0 0);
  }
  .home-content p{
    padding:100px 0 0 0
  }
  .intro-img{
    margin-top: -610px;
    width: 40%;
    height: 380px;
  } 
  h3{
    padding: 60px 30px 0 0;
  }
  .leaf2{
    margin-top: -200px;
  }
  .home-info2{
    height: 800px;
    margin-top: 130px;
    clip-path: polygon(50% 0%, 100% 0, 100% 48%, 0 100%, 0 0);
  }
  .home-info2 p{
    width:60%;
    float: left;
  }
  .intro-img2{
    position: absolute;
    z-index: 1000;
    width: 36%;
  }
  /* .read-info2{
    height: 900px;
    margin-top: 80px;
    padding-top: 100px;
    clip-path: polygon(50% 0%, 100% 0, 100% 58%, 0 100%, 0 0);
  } */
  .read-more{
    margin-right: 800px;
  }
  .home-info3{
    height: 800px;
    margin-top: -410px;
    clip-path: polygon(0 53%, 100% 0, 100% 100%, 0% 100%);
  }
  .leaf3{
    margin-top: 200px;
  }
   /* Start footer */
   .footer{
    display: flex;
    justify-content: center;
  }
  .logo2{
    margin-top: 100px;
  }
  .footer-lists{
    background: var(--bgreen);
    border-radius: 10px;
    padding: 20px;
  }
  .footer-content{
    margin-top: 40px;
    margin-right: 100px;
  }
  .footer-content h3{
    font-size: 20px;
    margin-right: 70px;
  }
  .footer-items{
    font-size: 16px;
  }
  .footer-items .footer-item1{
    margin-left:130px
  }
  .footer-items .footer-item3{
    margin-left:100px
  }
  .footer-items .footer-item5{
    margin-left:115px
  }
  .footer-items .footer-item7{
    margin-left:135px
  }
  .footer-content div a{
    color: var(--white);
  }
  .social-media{
    margin-top: 40px;
    margin-right: 40px;
  }
  .twitters{
    margin-right: 20px;
  }
  .footer-content div input{
    height: 40px;
    width: 300px;
  }
  .footer-content div button{
    margin-top: 30px;
    margin-right: 50px;
    width: 200px;
    height: 40px;
  }
  /* End footer */
}
@media screen and (min-width: 800px) and (max-width: 1300px) {
  .footer-items{
    font-size: 20px;
  }
  .footer-items .footer-item{
    margin-left: 50px;
  }
}