/* ======================== */
*{
  font-family: 'Gulzar', serif;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  box-sizing: border-box;
  direction: rtl;
}
:root{
  --white: #fff;
  --black: #000;
  --bgreen:#318907;
  --lgreen:#90B20D;
  --light:#eff7d6;
  --lblue:#EBF7F7;
  --lblack:#726767;
  --box-shadow:box-shadow: 0px 2px 10px 5px rgba(128, 127, 127, 0.3);
  --filter: drop-shadow(0px 14.22px 5px var(--light));
}
 .bgreen{
  background: var(--bgreen);
}
.lgreen{
  background: var(--lgreen);
}
.lblue{
  background: var(--lblue);
}
.lblack{
  color: var(--lblack);
}
.text-white{
  color: var(--white);
}
.text-lblack{
  color: var(--lblack);
}
.text-black{
  color: var(--black)
}
.text-bgreen{
  color: var(--bgreen)
}
.text-center{
  text-align: center;
} 
.container{
  display: flex;
  justify-content:center
} 
a{
  text-decoration: none;
}
li{
  list-style: none;
}
h3,h5{
  color: var(--bgreen);
}
.mt-80{
  margin-top: 80px;
}
.mt-40{
  margin-top: 40px;
}
.mb-20{
  margin-bottom: 20px;
}
.pt-80{
  padding-top: 80px;
}
.ml-20{
  margin-left: 20px;
}
.p-40{
  padding:40px
} 
p{
  padding: 30px;
  font-size: 17px;
  color:var(--lblack);
  text-align:center;
}
button:hover {
  box-shadow: 0px 2px 10px 5px rgba(128, 127, 127, 0.3);
}

/* navbar */
.topnav {
  overflow: hidden;
  background-color: var(--white);
  filter: var(--filter);
}
.logo-img{
  width: 50%;
}
.logo{
  height: 60px;
  width: 180px;
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
}
.topnav a {
  float: right;
  display: block;
  color: var(--black);
  text-align: center;
  padding: 30px 10px 30px 60px;
  font-size: 20px;
}
.topnav a:hover {
  color: var(--bgreen);
}
.topnav .icon {
  display: none;
}
header .nav-bar ul a.active {
  color: var(--bgreen);
}
/* Header */
 .header-info{
  height: 540px;
  text-align: center;
  width:100%;
}
.header-info h4{
  font-size: 35px;
  padding-top: 150px;
}
.header-info p{
  font-size: 19px;
}
.signin-btn{
  border: none;
  padding:3px 60px;
  border-radius: 10px;
}
.signin-btn a{
  color: var(--white);
  font-size: 16px;
} 
/* Sections */
.leaf1{
  float: left;
  margin-left:40px;
  margin-top: 20px;
} 
.intro-image{
  display: flex;
  justify-content: center;
}
.intro-img{
  position: absolute;
  z-index: 1000;
  height:400px;
}
.home-content p{
  text-align: center;
}
.home-info,
.read-info{
  /* margin-top: -19px; */
  background: var(--lblue);
} 
.home-info2{
  width: 100%;
  margin-top: 80px;
  background: var(--lblue);
}
.intro-img2{
  height:400px
}
/* .read-info2{
  width: 100%;
  background: var(--lblue);
} */
/* .read-info2 h3{
  padding-top: 150px;
} */
.read-more{
  background: var(--bgreen);
  border: none;
  width:150px;
  height: 40px;
  border-radius: 10px;
}
.read-more a{
  color: var(--white);
  font-size: 16px;
}
.home-info3,.home-info4,.home-info5{
  width: 100%;
  background: var(--lblue);
}
/* Progress */
#progress{
  z-index: 1000000;
  position: fixed;
  bottom: 100px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow:  0 2px 30px rgba(128, 127, 127, 0.3);
  cursor: pointer;
}
#progress-value{
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 25px;
}
.veg-title{
  color:var(--bgreen);
  padding-top: 100px;
  text-align: center;
  font-size: 25px
}
.content{
  width: 100%;
  background: var(--lblue);
}
.wrapper{
  width: 95%;
  margin: 40px auto;
}
.card:hover button{
  opacity: 80%;
}
.card:hover{
  box-shadow: 0px 2px 10px 5px rgba(128, 127, 127, 0.3);
}
.title-btn{
  background: var(--bgreen);
  border: none;
  width:150px;
  height: 40px;
  border-radius: 10px;
}
.read-more-btn{
  background:var(--bgreen);
  color: var(--white);
  padding: 0 25px;
  border-radius: 10px ;
  cursor: pointer;
}
.stories-card{
  box-shadow:  0 2px 30px rgba(128, 127, 127, 0.3);
  border-radius: 10px;
  padding: 20px;
}
.input-stories{
  border:none;
  border-radius: 10px;
  font-size: 16px;
  padding: 8px 1% 10px 1%;
}
.textaria-stories{
  border:none;
  border-radius: 10px;
  padding: 8px 1% 10px 1%;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.read-more-btn:hover{
  box-shadow: 0px 2px 10px 5px rgba(128, 127, 127, 0.3);
}
.hide{
  display: none;
}
.dots{
  color: var(--bgreen);
}
.team{
  height:250px;
  width:250px;
  /* position: absolute; */
  background-color: var(--white);
  border-radius:50%;     
  filter: drop-shadow(-10px 20px -10px var(--white));
  filter: drop-shadow(10px 20px 10px var(--light));
  filter: inner-shadow(-8px 16px -8px var(--white));
  filter: inner-shadow(8px 16px 8px var(--white));
}
.team-img{
  height:220px;
  width:220px;
  border-radius:50%;
  margin-top: 15px;
  margin-right: 15px;
}
.c4i{
  width: 100%;
  margin-top: 300px;
  background: var(--lblue);
}
.c4i-title{
  padding-top: 100px;
  font-size: 25px
}
.c4i-content{
  padding:40px 0;
  font-size:20px
}
.card-sign{
  box-shadow:  0 2px 30px rgba(128, 127, 127, 0.3);
  margin-top: 60px;
  margin-bottom: 60px;
  /* margin-top: 30px; */
  /* margin-bottom: 20px; */
  padding-top: 40px;
  border-radius: 10px;
}
.sign-list{
  display: flex;
  background: var(--lblue);
  border-radius: 10px;
  padding: 7px 70px;
  position: absolute;
  right: 300px;
  font-size: 14px;
  margin-bottom: 50px;
}
.sign-item{
  margin-left: 100px;
}
.fa-arrow-left{
  position: absolute;
  left:320px
}
.sign-triangle{
  margin-top: 110px;
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0% 100%);
  background:var(--lgreen);
  width: 420px;
  height: 420px;
  border-radius:10px 0;
}
.plate{
  width:200px;
  height:200px;
  position: absolute;
  top:350px;
  right:350px
}
.input-container{
  display: flex;
  justify-content: center;
  width:100%;
}
.input{
  height: 50px;
  border-radius: 10px;
  border:none;
  box-shadow:  0 2px 10px rgba(128, 127, 127, 0.3);
  margin-bottom: 10px;
  padding-right: 20px;
}
.icons{
  margin-top: 150px
}
.sign-btn{
  margin-top:40px;
  background:var(--bgreen);
  border:none;
  padding:6px 100px;
  border-radius: 10px;
  margin-right: 100px
}
.facebook-img{
  width:30px;
  height:30px;
  margin-right:5px;
  margin-top:6px
}
.gmail-img{
  width:23px;
  height:23px;
  margin-right:8px;
  margin-top:10px
}
.gmail-container{
  width:40px;
  height:40px;
  box-shadow:  0 2px 30px rgba(128, 127, 127, 0.3);
  border-radius:50%
}
.facebook-container{
  width:40px;
  height:40px;
  box-shadow:  0 2px 30px rgba(128, 127, 127, 0.3);
  border-radius:50%;
  margin-left: 40px;
  margin-right:150px;
}
.social-container{
  display:flex;
  margin-top: 60px
}
/* Footer */
.footer{
  width:100%;
  background: var(--lgreen);
}
.social{
  display: flex;
  justify-content: center;
  margin-right: 20px;
}
.social img{
  margin-top: 10px;
}
.social a{
  margin-left: 10px;
  font-size: 17px;
  color: var(--white);
}
.input-container{
  display: flex;
  justify-content: center;
  width:450px;
}
.footer-content div input{
  border: none;
  width:100%;
  height: 50px;
  margin-top: 40px;
  border-radius: 10px;
}
.footer-content div button{
  border-radius: 10px;
  border: none;
  background: var(--bgreen);
}
.footer-content div button a{
  color: var(--white);
}
.copy-right{
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
/* Small Screen an medium*/
@media screen and (max-width: 1200px) {
  .topnav ul a:not(child) {display: none;}
  .topnav a.icon {
    float: left;
    font-size: 20px;
    display: block;
    color: var(--bgreen);
  }
  .topnav ul a{
    background: var(--lgreen);
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    left:40px;
    top: 20px;
    color: var(--bgreen);
  }
  .topnav.responsive a {
    float: none;
    display: block;
    padding: 5px;
    text-align: center;
    color: var(--lblack);
  }
  .topnav.responsive .logo{
    padding: 20px 0;
  }
  /* Header */
  .header-content{
    display:block;
  }
  .header-img{
    width: 100%;
  }
  .h-img{
    height: 540px;
  }
  .header-info{
    margin-top: -20px;
  }
  /* Home*/
  .home-info{
    height: 600px;
    /* margin-top: -19px; */
  }
  .read-info{
    padding: 50px 0;
  }
  .intro-img{
    margin-top: -490px;
    width: 100%;
    height: 370px;
  }
  .h-img{
    width: 100%;
  }
  .home-content p{
    padding-top: 130px;
    padding-bottom:40px;
  }
  h3{
    padding: 30px 30px 0 0;
  }
  .leaf2{
    margin-top: -125px;
  }
  .home-info2{
    padding: 40px 0;
  }
  .home-info2 p{
    margin-top: -150px;
  }
  .read-content h3, .read-content h3{
    text-align: center;
  }
  .read{
    display: flex;
    justify-content: center;
  }
  .intro-img2{
    width: 100%;
    height:400px
  }
  /* .read-info2{
    height: 600px;
    margin-top: 80px;
  } */
  .home-info3{
    height: 150px;
    display: flex;
  }
  .leaf3{
    padding-top: 70px;
  }
  #cards{
    height: fit-content;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 60px
  }
  .card{
    height:fit-content;
    margin: 20px;
    padding: 20px;
    border-radius: 13px;
    background: var(--white);
    box-shadow:  0 2px 30px rgba(128, 127, 127, 0.3);
  }
  .card-pic{
    display: flex;
    justify-content: center;
    height: 220px;
    border-radius: 13px;
    background: var(--lblue);
  }
  .images{
    height: 130px;
    width: 130px;
    margin-right: 10px;
    margin-top :40px;
    border-radius: 50%;
    margin-left: 10px;
    background: var(--lblue);
  }
  .stories-container{
    margin-top: 60px
  }
  .stories-card{
    margin: 20px;
  }
  .input-stories{
    display: block;
    width:98%;
    margin-bottom: 20px;
  }
  .textaria-stories{
    width: 97.7%;
  }
  .content{
    margin-bottom:-100px;
  }
  .team-title{
    padding-top: 60px;
    font-size: 25px;
  }
  .teams{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100px;
  }
  .team{
    margin-top: -450px;
    /* position: absolute; */
    /* top:1500px; */
  }
  .team2{
    margin-top: -30px;
    /* top:2010px; */
  }
  .card-sign{
    width:95%;
    margin-top: 30px;
    /* margin-right: 20px;
    margin-left: 20px; */
    padding-bottom: 40px;
    position: relative;
  }
  .sign-list{
    right: 20px;
  }
  .fa-arrow-left{
    left:20px;
    top:60px;
  }
  .sign-triangle{
    display: none;
  }
  .plate{
    display: none;
  }
  .input{
    width:350px;
  }
  /* Start footer */
  .logo2{
    width:95%;
    height: 100px;
    margin-top: 60px;
    padding-right: 5%;
  }
  .footer-content h3{
    margin-top: -30px;
    text-align: center;
    font-size: 25px;
  }
  .footer-list{
    text-align: center;
    padding-right: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer-items a{
    color: var(--white);
    font-size: 20px;
  }
  .social-media{
    display: flex;
    justify-content: center;
  }
  .social{
    margin-top: 40px;
  }
  .input-call{
    display: flex;
    justify-content: center;
    margin: 0 20px;
  }
  .input-ca{
    width: 100%;
  }
  .footer-content div button{
    margin-top: 40px;
    width: 150px;
    height:45px;
    margin-right: 10px;
  }
  /* End footer */
}

@media screen and (min-width: 1200px) {
  .width{
    padding-right:100px;
    padding-left:100px;
  }
  .header-content{
    display: flex;
    height: 540px;
  }
  .header-img{
    width: 80%;
  }
  .h-img{
    width: 120%;
    height: 540px;
  }
  .header-info{
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
  }
  /* Home */
  .home-info{
    height: 640px;
    width: 100%;
    clip-path: polygon(50% 0%, 100% 0, 100% 48%, 0 100%, 0 0);
  }
  .read-info{
    height: 680px;
    clip-path: polygon(50% 0%, 100% 0, 100% 48%, 0 100%, 0 0);
  }
  .home-content p{
    padding:100px 0 0 40px;
  }
  .intro-img{
    margin-top: -610px;
    width: 40%;
    height: 380px;
  } 
  h3{
    padding: 60px 30px 0 0;
  }
  .leaf2{
    margin-top: -200px;
  }
  .home-info2{
    height: 800px;
    margin-top: 130px;
    clip-path: polygon(50% 0%, 100% 0, 100% 48%, 0 100%, 0 0);
  }
  .home-info2 p{
    width:60%;
    float: left;
  }
  .intro-img2{
    position: absolute;
    z-index: 1000;
    width: 36%;
  }
  /* .read-info2{
    height: 900px;
    margin-top: 80px;
    padding-top: 100px;
    clip-path: polygon(50% 0%, 100% 0, 100% 58%, 0 100%, 0 0);
  } */
  .read-more{
    margin-right: 880px;
    margin-top: 30px;
  }
  .home-info3,.home-info4,.home-info5{
    height: 800px;
  }
  .home-info3{
    margin-top: -410px;
    clip-path: polygon(0 53%, 100% 0, 100% 100%, 0% 100%);
  }
  .home-info4{
    margin-top: -340px;
    clip-path: polygon(0 44%, 100% 0, 100% 100%, 0% 100%);
  }
  .home-info5{
    margin-top: -385px;
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
  }
  .leaf3{
    margin-top: 200px;
  }
  .content{
    height: 1000px;
    margin-top: 150px;
    clip-path: polygon(50% 0%, 100% 0, 100% 58%, 0 100%, 0 0);
    padding-bottom: 40px;
  }
  #cards{
    display: grid;
    grid-template-columns: 320px 320px 320px 320px;
    grid-column-gap:5px;
    padding: 1em 0;
    text-align: center;
    font-size: 24px;
    border-radius: 10px;
  }
  .cards-content{
    display:flex;
    justify-content: center;
    margin-top: 150px;
    padding-top: 60px;
    padding-bottom: 200px
  }
  .card{
    height: 400px;
    width: 300px;
    border-radius: 13px;
    margin-left: 15px;
    background: var(--white);
    box-shadow:  0 2px 30px rgba(128, 127, 127, 0.3);
  }
  .card-pic{
    height: 220px;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 13px;
    margin-left: 10px;
    background: #EBF7F6;
  }
  .images{
    height: 130px;
    width: 130px;
    margin-right: 10px;
    margin-top :40px;
    border-radius: 50%;
    margin-left: 10px;
    background: var(--lblue);
  }
  .stories-container{
    margin-top: 150px
  }
  .stories-card{
    margin: 20px 60px 20px 60px;
  }
  .input-stories{
    width: 47%;
  }
  .textaria-stories{
    width: 97.8%;
    margin-left: 20px;
  }
  .team-title{
    font-size: 25px;
  }
  .team{
    position: absolute;
    top:1060px;
    right: 300px;
  }
  .team2{
    position: absolute;
    top:1180px;
    right: 800px;
  }
  h5{
    padding-top: 20px;
    font-size:19;
  }
  .c4i{
   height: 1000px; 
    clip-path: polygon(50% 0%, 100% 0, 100% 58%, 0 100%, 0 0);
  }
  .input{
    width:380px;
    margin-left: 60px;
  }
  .fa-arrow-left{
    top:120px;
  }
   /* Start footer */
   .footer{
    display: flex;
    justify-content: center;
  }
  .logo2{
    margin-top: 100px;
  }
  .footer-lists{
    background: var(--bgreen);
    border-radius: 10px;
    padding: 20px;
  }
  .footer-content{
    margin-top: 40px;
    margin-right: 100px;
  }
  .footer-content h3{
    font-size: 20px;
    margin-right: 70px;
  }
  .footer-items{
    font-size: 16px;
  }
  .footer-items .footer-item1{
    margin-left:130px
  }
  .footer-items .footer-item3{
    margin-left:100px
  }
  .footer-items .footer-item5{
    margin-left:115px
  }
  .footer-items .footer-item7{
    margin-left:135px
  }
  .footer-content div a{
    color: var(--white);
  }
  .social-media{
    margin-top: 40px;
    margin-right: 40px;
  }
  .twitters{
    margin-right: 20px;
  }
  .footer-content div button{
    margin-top: 30px;
    margin-right: 50px;
    width: 200px;
    height: 40px;
    margin-left: 30px;
  }
  /* End footer */
}
@media screen and (max-width: 800px){
  /* .input-call{
    width:90%;
  } */
  .footer-content div input{
    margin:0 20px;
    height: 50px;
    margin-top: 40px;
  }
  /* .footer-items{
    font-size: 20px;
  }
  .footer-items .footer-item{
    margin-left: 50px;
  } */
}
@media screen and (min-width: 801px) and (max-width: 1200px){
  /* .input-container{ 
    display: flex;
    justify-content: center;
    width:100%;
  }  */
  .footer-content div input{
    height: 50px;
    margin:0 80px;
    margin-top: 40px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  #cards{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap:5px;
    padding: 1em 0;
    text-align: center;
    font-size: 24px;
    border-radius: 10px;
  }
  .card{
    height:fit-content;
    margin: 20px;
    padding: 20px;
    border-radius: 13px;
    background: var(--white);
    box-shadow:  0 2px 30px rgba(128, 127, 127, 0.3);
  }
  .card-pic{
    display: flex;
    justify-content: center;
    height: 220px;
    border-radius: 13px;
    background: var(--lblue);
  }
  .images{
    height: 130px;
    width: 130px;
    margin-right: 10px;
    margin-top :40px;
    border-radius: 50%;
    margin-left: 10px;
    background: var(--lblue);
  }
}
@media screen and (min-width:1200px) and (max-width: 1300px) {
  #cards{
    display: grid;
    grid-template-columns: 280px 280px 280px 280px;
    place-items: center;
    grid-column-gap:8px;
    padding: 1em 0;
    text-align: center;
    font-size: 24px;
    border-radius: 10px;
  }
  .card{
    height:fit-content;
    width:230px;
    margin: 20px;
    padding: 20px;
    border-radius: 13px;
    background: var(--white);
    box-shadow:  0 2px 30px rgba(128, 127, 127, 0.3);
  }
  .card-pic{
    display: flex;
    justify-content: center;
    height: 220px;
    border-radius: 13px;
    background: var(--lblue);
  }
  .images{
    height: 130px;
    width: 130px;
    margin-right: 10px;
    margin-top :40px;
    border-radius: 50%;
    margin-left: 10px;
    background: var(--lblue);
  }
}